
doctype
html(lang="en")
 head
  title HOME screen v2.0
 body
  h1 JADE file elaborated
  p
   | Use of pipe for multiline JADE code
   | Indentation is important

  div#mydiv Id assigned to DIV tag

  ol
   li first
   li second
   li third

  a(href="http://localhost:5000/" target="_blank") YOUR project

  br
  br

  p #{CITY}
  p #{NAME.github}

  .txt
   | CLASS txt assigned , Without div tag prefix also it can be written