
doctype
html(lang="en")
 head
  title STYLing
  link(href="layout.css" rel="stylesheet")
 body
  ul
   li AMRITSAR
   li JALANDHAR
   li KOLKATA
   li HYDERABAD
   li PUNE

  p#myid this is our world